################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Mango/.vs/Mango
/Mango/Mango.Web/bin
/Mango/Mango.Services.CouponAPI/bin
.vs/
