################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Mango/.vs/Mango

.vs/GettingStartedMicroServices/FileContentIndex/
